<div class="flex min-h-screen w-full">
    <div id="main"
        class="flex flex-row frosted-glass w-full h-screen m-auto md:h-auto md:w-2/3 md:px-8 md:py-16 rounded-md">
        <img id="login-img" src="/assets/login.svg" class="hidden lg:flex w-1/2 p-20" alt="">
        <div id="login-form" class="flex flex-col justify-center w-full my-auto lg:w-1/2 p-8">
            <h1 class="text-4xl mx-auto text-white text-center">Welcome back!</h1>
            <span class="text-white mt-2 mb-4 w-full text-center text-xs">Please enter credentails to login</span>
            <div class="flex flex-col my-4">
                <label for="" class="text-white">Email</label>
                <lui-input class="w-full text-white" [type]="'text'" />
            </div>
            <div class="flex flex-col my-4">
                <label for="" class="text-white">Password</label>
                <lui-input class="w-full text-white" [type]="'password'" />
            </div>
            <div class="flex flex-col my-4">
                <lui-button class="w-full">Submit</lui-button>
            </div>
            <div class="flex">
                <span class="text-white mt-2 mb-4 w-full text-center text-xs">Don't have an account? <a
                        routerLink="/register" class="underline">Register</a></span>
            </div>
        </div>
    </div>
</div>