<div class="flex min-h-screen w-full">
    <div class="flex flex-row bg-white m-auto w-1/2 p-8 rounded-md">
        <img src="/assets/login.svg" class="w-1/2 p-20" alt="">
        <div class="flex flex-col justify-center w-1/2">
            <h1 class="font-bold text-5xl mx-auto">Login</h1>
            <div class="flex flex-col my-4">
                <label for="">Email</label>
                <input type="text">
            </div>
            <div class="flex flex-col my-4">
                <label for="">Password</label>
                <input type="password">
            </div>
            <button class="bg-green-600 text-white py-2 rounded-md">Login</button>
        </div>
    </div>
</div>