/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", sans-serif;
}

body {
  background: url(/assets/bg-2.png);
  background-size: cover;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}
